
.outerwrap
	.board
		.win-dialog
			div
				h1 You won!
				h2 Click to reset
		.innerwrap
			table.roottable
				- var box;
				- for (var row = 0; row < 3; ++row) {
					tr.rootrow
						- for (var col = 0; col < 3; ++col) {
							td(class="zone_#{row}_#{col} zone")
								table(class="innertable")
									- for (var subrow = 0; subrow < 3; ++subrow) {
										tr
											-for (var subcol = 0; subcol < 3; ++subcol) {
												- box = ((row * 3 + subrow) * 9) + (col * 3 + subcol) 
												td(class="box_#{box} box", data-box=box)
													span
														
											- }
									-}
						- }
				- }

.selection
	- for (var n = 1; n < 10; ++n) {
		span(class="choice choice_#{n}", data-choice=n) #{n}
	-}
div(class="difficulty nav")
	a(href="javascript:;", class="easy diff-setting", data-diff="0") Easy
	a(href="javascript:;", class="medium diff-setting active", data-diff="1") Medium
	a(href="javascript:;", class="hard diff-setting", data-diff="2") Hard
		